.container {
    background-color: blue;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
}

.container img {
    width: 100%;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}
